<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <div class="bg_circle"></div>

  <ion-row>
    <swiper [config]="bannerConfig">
      <ng-template swiperSlide *ngFor="let card of cards">
        <div class="card_details">
          <img [src]="card?.company_img" />
          <div align="center">
            <ion-label>
              <div class="acc-amt"><ion-text color="white">{{card?.card_no}}</ion-text></div>
              <span>{{card?.card_holder}}</span>
            </ion-label>    
          </div>
          <p class="exp ion-text-start"><ion-text color="white">{{card?.exp_date}}</ion-text></p>
        </div>
      </ng-template>
    </swiper>
  </ion-row>

</ion-content>